---
title: Hello, data!
layout: base.njk
---
<h1>Hello, data!</h1>

<h2>Pseudo-data from local JSON file</h2>
<ul>
    {%- for article in news.articles %}
    <li>{{ article.title }}</li>
    {%- endfor %}
</ul>

<h2>A random dog image from an API</h2>
<p>
    <img src="{{ doggy.message }}" alt="A random dog image" />
</p>

<h2>Top ten most recent "Star Wars" articles from an API</h2>
<ul>
    {%- for article in starwars.articles %}
    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
    {%- endfor %}
</ul>

<h2>Top ten science headlines by country code</h2>
<ul>
    {%- for headline in headlinesByCountry %}
    <li><a href="{{ headline.country }}/">{{ headline.country }}</a></li>
    {%- endfor %}
</ul>